<div class="p-3">
    <h3>Könyv szerkesztés</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="cim" placeholder="Name">
        <label for="cim">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="kiadas_ev" placeholder="year">
        <label for="kiadas_ev">Kiadási Év</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="ISBM" placeholder="ISBN">
        <label for="ISBM">ISBN szám </label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="author" placeholder="szerzok">
        <label for="author">Szerzők</label>
    </div>
    <button class="btn btn-warning mb-3" onclick="saveChanges()">Update</button>
</div>