<div class="p-3">
    <h3>Könyv szerkesztés</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Name">
        <label for="name">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="kiad" placeholder="year">
        <label for="kiad">Kiadási Év</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="isbn" placeholder="ISBN">
        <label for="isbn">ISBN szám </label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="szerzok" placeholder="szerzok" disabled>
        <label for="szerzok">Szerzők</label>
    </div>
    <button class="btn btn-warning mb-3" onclick="saveChanges()">Update</button>
</div>